<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <title>Update</title>
</head>
<body>
<h3>Update employee</h3>
<p>
    <a th:href="@{/personnel}">
        Back to  list
    </a>
</p>
<div id="form">
    <form th:action="@{/personnel/update/{id}(id=${personnels.getId()})}" th:object="${personnels}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label for="employeeCode">EmployeeCode</label>
            <input type="text" id="employeeCode" th:field="*{employeeCode}"/>
        </div>
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}"/>
        </div>
        <div>
            <label for="age">Age</label>
            <input type="text" id="age" th:field="*{age}"/>
        </div>
        <div>
            <label for="salary">Salary</label>
            <input type="text" id="salary" th:field="*{salary}"/>
        </div>
        <div>
            <label for="department">Department</label>
            <select id="department" name="department" onchange="updateSelectedDepartment()">
                <option value=""  ><a th:field="*{department}"></a></option>
                <option value="IT">IT</option>
                <option value="Marketing">Marketing</option>
                <option value="RnD">R&D</option>
                <option value="Sales">Sales</option>
            </select>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>

</body>
</html>